@model ProdutoViewModel

<div class="row">
    <div class="col-md-6">
        <div class="mw-100">
            <img src="~/imagens/@Model.Imagem" class="img-fluid" alt="" />
        </div>
    </div>
    <div class="col-md-6">
        <ul>
            <li><strong>@Html.DisplayNameFor(m => m.Nome):</strong> @Model.Nome</li>
            <li><strong>@Html.DisplayNameFor(m => m.Descricao):</strong> @Model.Descricao</li>
            <li><strong>@Html.DisplayNameFor(m => m.Valor):</strong> @Model.Valor.ToString("C")</li>
            <li><strong>@Html.DisplayNameFor(m => m.Fornecedor):</strong> @(Model.Fornecedor?.Nome ?? "Sem fornecedor")</li>
        </ul>
    </div>
</div>