@model IEnumerable<ProdutoViewModel>
@using Humanizer

@{
    ViewData["Title"] = "Produto";
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-primary mb-4" asp-action="Criar">Novo</a>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-primary">
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(m => m.Nome)</th>
                    <th>@Html.DisplayNameFor(m => m.DataAtualizacao)</th>
                    <th>@Html.DisplayNameFor(m => m.Fornecedor)</th>
                    <th>@Html.DisplayNameFor(m => m.Valor)</th>
                    <th>@Html.DisplayNameFor(m => m.Fornecedor.Ativo)</th>
                    <th class="text-end">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produto in Model)
                {
                    <tr>
                        <td><img src="~/imagens/@produto.Imagem" alt="" height="100"></td>
                        <td>@produto.Nome</td>
                        <td>@produto.DataAtualizacao.Humanize(utcDate: false)</td>
                        <td>@produto.Fornecedor?.Nome</td>
                        <td>@produto.Valor.ToString("C")</td>
                        <td>@produto.Fornecedor?.Ativo</td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-light" asp-action="Detalhes" asp-route-id="@produto.Id"><i class="bi bi-search"></i></a>
                            <a class="btn btn-sm btn-light" asp-action="Editar" asp-route-id="@produto.Id"><i class="bi bi-pencil"></i></a>
                            <a class="btn btn-sm btn-light" asp-action="Remover" asp-route-id="@produto.Id"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
